* {
  box-sizing: border-box;
}

header {
  font-family: 'Nunito', sans-serif;
}


header h2 {
  margin-bottom: 60px;
}

.view1-label {
  font-size: 20px !important;
}

input {
  margin-bottom: 45px !important;
}


.hidden {
  display: none;
}

.add-icon {
  margin-top: 25px;
}

