* {
  box-sizing: border-box;
}

header {
  font-family: 'Nunito', sans-serif;
}

header h2 {
  margin-bottom: 28px;
}

.choose {
  color: slategray;
}

.view1-label {
  font-size: 20px !important;
}

input.validate {
  margin-bottom: 45px !important;
}

.hidden {
  display: none;
}

.add-icon {
  margin-top: 25px;
}

.student-name {
  text-decoration: underline;
}

.student-comments {
  height: 400px;
}

#hr-report {
  margin-top: 85px;
}

#students-link {
  font-size: 24px;
  text-decoration: underline;
}

#back-button {
  margin-top: 91px;
}
